---
 const personalImageAlt = "Juan"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-950 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Juan y soy un desarrollador frontend con más de 6 años de experiencia en el sector tecnológico.
    </p>

    <p>
      He trabajado en múltiples proyectos web para empresas tanto del sector privado como público.
    </p>

    <p>
      Centrado en la creación de código limpio y escalable, con capacidad para cumplir los objetivos y las necesidades del cliente.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
