---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "nov. 2024 - actualidad",
    title: "Desarrollador frontend",
    company: "COTESA",
    description: "➔ Desarrollo de proyectos web con Drupal 10 y 11. Buenas prácticas de codificación. Control de versiones con GitLab. CI/CD con SonarQube y Jenkins. Experiencia avanzada maquetando sitios web responsivos utilizando HTML5, Tailwind CSS y JavaScript/TypeScript. Entornos de desarrollo local basados en Docker (DDEV). Desarrollo de componentes con SDC (Drupal) y Storybook. Herramientas de gestión de paquetes NPM y Vite. Creación de temas personalizados con plantillas Twig. Metodología de trabajo ágil. Arquitecturas desacopladas con Astro.js. Manejo de Figma.",
    link: "https://cotesa.com.es/",
  },
  {
    date: "jul. 2022 - oct. 2024",
    title: "Desarrollador frontend",
    company: "ACC Comunicación",
    description: "➔ Desarrollo de proyectos web con Drupal 9 y 10 y Symfony. Buenas prácticas de codificación. Control de versiones con GitLab/GitHub. Experiencia avanzada maquetando sitios web responsivos utilizando HTML5, CSS3 (SASS) y JavaScript. Entornos de desarrollo local basados en Docker. Conocimiento de programación orientada a componentes. Herramientas de gestión de paquetes NPM y Webpack. Creación de temas personalizados con plantillas Twig. Metodología de trabajo ágil. Manejo de Figma.",
    link: "https://www.acc.com.es/es",
  },
  {
    date: "nov. 2021 - jul. 2022",
    title: "Desarrollador frontend",
    company: "Daemon4",
    description: "➔ Desarrollo de proyectos B2B y B2C con Oracle APEX. Experiencia con los lenguajes HTML5, CSS3, PL/SQL y JavaScript. Metodologías de trabajo ágiles Scrum y Kanban. Manejo de ERP interno desarrollado con Oracle.",
    link: "https://www.daemon4.com/",
  },
  {
    date: "jul. 2019 - nov. 2021",
    title: "Desarrollador frontend",
    company: "YeclaWeb",
    description: "➔ Desarrollo de proyectos web y comercios electrónicos con Drupal 7 y 8. Buenas prácticas de codificación. Experiencia maquetando sitios web responsivos utilizando HTML5, CSS3 (SASS) y JavaScript/JQuery. Entornos de desarrollo local. Conocimiento de programación orientada a componentes. Creación de temas personalizados. Administración de dominios y bases de datos con Plesk. Manejo de Adobe Photoshop e Illustrator.",
    link: "https://yeclaweb.com/",
  },
  {
    date: "ene. 2019 - jul. 2019",
    title: "Administrador de sistemas informáticos",
    company: "Cabanes & Ortuño",
    description: "➔ Reparación de equipos y mantenimiento de la red informática. Gestión de la página web, redes sociales y creación de boletines. Realización de consultas SQL con SAP Business One.",
    link: "https://cabanesortuno.com/index.php/es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
