---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador frontend",
    company: "Cotesa",
    description:
      "Desarrollo de proyectos web con Drupal. Buenas prácticas de codificación. Uso de control de versiones con GitHub. Experiencia avanzada maquetando sitios web responsive utilizando HTML, CSS (Sass) y JavaScript. Entornos de desarrollo local basados en Docker. Conocimiento de programación orientada a componentes. Creación de temas custom con plantillas Twig. Metodología de trabajo ágil. Arquitecturas headless.",
    link: "https://cotesa.com.es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
