---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "nov. 2024 - actualidad",
    title: "Desarrollador frontend",
    company: "COTESA",
    description: "➔ Desarrollo de proyectos web y ecommerce. Buenas prácticas de codificación. Control de versiones con GitLab. CI/CD con SonarQube y Jenkins. Experiencia avanzada maquetando sitios web responsive utilizando HTML, Tailwind CSS y JavaScript/TypeScript. Entornos de desarrollo local basados en Docker (DDEV). Desarrollo de componentes con SDC (Drupal) y Storybook. Herramientas de gestión de paquetes NPM y Vite. Creación de temas custom con plantillas Twig. Metodología de trabajo ágil. Arquitecturas headless con Next.js y Astro.js. Manejo de Figma.",
    link: "https://cotesa.com.es/",
  },
  {
    date: "jul. 2022 - oct. 2024",
    title: "Desarrollador frontend",
    company: "ACC Comunicación",
    description: "➔ Desarrollo de proyectos web. Buenas prácticas de codificación. Control de versiones con GitLab/GitHub. Experiencia avanzada maquetando sitios web responsive utilizando HTML, CSS (Sass) y JavaScript. Entornos de desarrollo local basados en Docker. Conocimiento de programación orientada a componentes. Herramientas de gestión de paquetes NPM y Webpack. Creación de temas custom con plantillas Twig. Metodología de trabajo ágil. Arquitecturas headless. Manejo de Figma.",
    link: "https://www.acc.com.es/es",
  },
  {
    date: "nov. 2021 - jul. 2022",
    title: "Desarrollador frontend",
    company: "Daemon4",
    description: "➔ Desarrollo de proyectos B2B y B2C con Oracle APEX. Experiencia con los lenguajes HTML, CSS, PL/SQL y JavaScript. Metodologías de trabajo ágiles Scrum y Kanban. Manejo de ERP interno desarrollado con Oracle.",
    link: "https://www.daemon4.com/",
  },
  {
    date: "jul. 2019 - nov. 2021",
    title: "Desarrollador frontend",
    company: "YeclaWeb",
    description: "➔ Desarrollo de proyectos web y ecommerce. Buenas prácticas de codificación. Experiencia maquetando sitios web responsive utilizando HTML, CSS (Sass) y JavaScript/JQuery. Entornos de desarrollo local. Conocimiento de programación orientada a componentes. Creación de temas custom con plantillas Twig. Administración de dominios y bases de datos con Plesk. Manejo de Adobe Photoshop e Illustrator.",
    link: "https://yeclaweb.com/",
  },
  {
    date: "ene. 2019 - jul. 2019",
    title: "Administrador de sistemas informáticos",
    company: "Cabanes & Ortuño",
    description: "➔ Reparación de equipos y mantenimiento de la red informática. Gestión de la pagina web, redes sociales y creación de newsletters. Realización de consultas SQL con SAP Business One.",
    link: "https://cabanesortuno.com/index.php/es/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
